<template>
  <v-alert dense outlined :type="type" :color="color" class="text-center"><slot></slot></v-alert>
</template>

<script>
export default {
  name: 'app-alert',
  props: ['type', 'color']
}
</script>

<style scoped></style>