<template>
  <v-container>
    <h1>Réglages</h1>
    <v-switch label="Activer le thème sombre" v-model="darkMode"></v-switch>
  </v-container>
</template>

<script>
export default {
  name: 'app-drawer',
  data: () => ({
    darkMode: true
  }),
  methods: {
    /** Gestion du mode nuit. */
    handledarkmode () {
      if (process.browser) {
        // On vérifie la valeur du switch.
        if (this.darkMode === true) {
          this.$vuetify.theme.dark = true;
          // Mise à jour du stockage locale navigateur.
          localStorage.setItem('DarkMode', true);
        } else if (this.darkMode === false) {
          this.$vuetify.theme.dark = false;
          localStorage.setItem('DarkMode', false);
        }
      }
    }
  },
  /* Surveillance de quelques variables. */
  watch: {
    /* Gestion du mode nuit. */
    darkMode () {
      this.handledarkmode();
    }
  },
  /* A la création du composant... */
  created () {
    // Recherche dans le stockage local du navigateur pour le thème.
    if (process.browser) {
      if (localStorage.getItem('DarkMode')) {
        const cookieValue = localStorage.getItem('DarkMode') === 'true';
        this.darkMode = cookieValue;
        this.$vuetify.theme.dark = cookieValue;
      } else {
        this.handledarkmode();
      }
    }
  }
}
</script>

<style scoped>
.v-expansion-panel {
  background-color: var(--v-background-base) !important;
}
</style>