<template>
  <div>
    <v-app-bar>
      <v-app-bar-nav-icon @click="enableDrawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Water Saver</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  name: 'app-header',
  data: () => ({darkMode: true}),
  watch: {
    darkMode () {
      this.handledarkmode();
    }
  },
  methods: {
    /** Activation du drawer. */
    enableDrawer(){
      this.$emit('drawer:control', true);
    }
  }
}
</script>

<style scoped></style>