<template>
  <v-container justify="center" align="center">
    <v-card style="margin-top: 20px;" class="pa-10">
      <v-text-field autofocus required v-model="roomNb" type="number" hint="Entrez le numéro de chambre." label="Numéro de chambre." solo dense></v-text-field>
      <v-text-field required v-model="password"  @keyup.enter="access" hint="Entrez le mot de passe." label="mot de passe." solo dense></v-text-field>
      <v-btn color="primary" large @click="access">Se connecter</v-btn>
      <app-alert style="margin-top: 20px;" v-if="wrongPassword" type="error">Attention, Numéro de chambre ou mot de passe incorrect.</app-alert>
      <app-alert style="margin-top: 20px;" v-if="wrongRoom" type="error">Attention, Le numéro de chambre n'existe pas. Vous pouvez essayer la chambre numéro 1 (chambre de test).</app-alert>
    </v-card>
  </v-container>
</template>

<script>
import * as apiService from '../services/apiService';
import Alert from './Alert.vue';

export default {
  name: 'app-home',
  components: {
    'app-alert': Alert
  },
  data:() => ({
    roomNb:'',
    password:'',
    wrongPassword: false,
    wrongRoom: false
  }),
  methods: {
    access(){
      this.wrongPassword = false;
      this.wrongRoom = false;
      if(this.roomNb != '' && this.password != ''){
        let promise = apiService.getData(this.roomNb);
        promise.then(res => {
          this.wrongRoom = (res == null || res == "" || promise.isRejected);
        })
        .then(() => {
          this.$router.push('/room/' + this.roomNb);
        }).catch(() => {
          this.wrongRoom = true;
        });
      }
      else{
        this.wrongPassword = true;
      }
    }
  }
}
</script>

<style scoped></style>
