<template>
  <v-container justify="center" align="center">
    <v-card style="margin-top: 20px;" class="pa-5">
      <v-card-title><v-btn icon @click="exit" class="mr-4"><v-icon>mdi-arrow-left</v-icon></v-btn>Chambre {{roomNb}}</v-card-title>
      <v-card-text>
        <v-avatar size="100"><v-img :src="require('@/assets/water-icon.png')"/> </v-avatar>
        <v-card class="pa-2" tile>
          <p class="subtitle-1">Consommation en temps réel</p>
          <p class="subtitle-1">{{realTimeConsumption}} L/min</p>
        </v-card>
        <br>
        <br>
        <v-container>
          <v-row>
            <v-col cols="12" md="6">
              <v-card class="pa-2" tile>
                <p class="subtitle-2">Consommation pour le séjour</p>
                <p class="subtitle-2">{{stayConsumption}} Litres</p>
              </v-card>
            </v-col>
            <v-col cols="12" md="6">
              <v-card class="pa-2" tile>
                <p class="subtitle-2">Consommation pour toute la journée</p>
                <p class="subtitle-2">{{dayConsumption}} Litres</p>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import * as apiService from '../services/apiService';
let intervalId;

export default {
  name: 'app-room',
  data:() => ({
    roomNb: '',
    realTimeConsumption: 0,
    dayConsumption: 0,
    stayConsumption: 0
  }),
  methods: {
    round(num){
      return Math.round((num + Number.EPSILON) * 100) / 100 ;
    },
    exit(){
      window.clearInterval(intervalId);
      this.$router.back();
    }
  },
  async mounted(){
    let self = this;
    this.roomNb = this.$route.params.number;
    intervalId = window.setInterval(function(){
      apiService.getData(self.roomNb).then(res => {
        if(res != null){
          self.realTimeConsumption = self.round(res.measurementFlowRateRealTime)
          self.dayConsumption = self.round(res.measurementFlowRateDaily);
          self.stayConsumption = self.round(res.measurementFlowRateTotal);
        }
      });
    }, 1000);
  }
}
</script>

<style scoped></style>
