<template>
  <div id="app">
    <v-app id="inspire">
      <app-header @drawer:control="controlDrawer"></app-header>
      <v-navigation-drawer app v-model="drawer" temporary><app-drawer></app-drawer></v-navigation-drawer>
      <v-main>
        <v-container>
          <router-view></router-view>
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>

<script>
import Header from './components/Header.vue';
import Drawer from './components/Drawer.vue';

export default {
  name: 'App',
    components: {
    'app-header': Header,
    'app-drawer': Drawer
  },
   data(){
    return{
      drawer: false
    }
  },
  methods: {
    controlDrawer(value){
      this.drawer = value;
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

html{
  overflow: auto !important;
}

.v-application {
  background-color: var(--v-background-base) !important;
}

</style>
